services:
  web:
    build: .
    restart: always
    volumes:
      - app-daten:/app/daten
    environment:
      - FLASK_ENV=production
    networks:
      - intern

  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - certbot-etc:/etc/letsencrypt:ro
      - certbot-var:/var/lib/letsencrypt
      - certbot-webroot:/var/www/certbot
    depends_on:
      - web
    networks:
      - intern

  certbot:
    image: certbot/certbot
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - certbot-webroot:/var/www/certbot

volumes:
  app-daten:
  certbot-etc:
  certbot-var:
  certbot-webroot:

networks:
  intern:
